{% extends "base.html" %} {% load staticfiles %}
{% block title %} reset {% endblock title %}
{% block content %}

    <div class="container">
        <div style="text-align: center" class="container-fluid mt-4">
            <h4 class="alert alert-info">send Email success</h4>
        </div>
        <div style="text-align: center" class="container-fluid mt-4">
            <p>if there is an account in the email you entered, we will send you instructions on setting the password via email. You should receive them as soon as possible.</p>
            <p>If you did not receive an email, please make sure you entered the address you used when registering and checked your junk e-mail folder.</p>
        </div>

    </div>
{% endblock content %}