{% extends "base.html" %} {% load staticfiles %}
{% block title %} password reset success {% endblock title %}
{% block content %}

    <div class="container">
        <div style="text-align: center" class="container-fluid mt-4">
            <h4 class="alert alert-info">password reset success</h4>
        </div>
    <div style="text-align: center" class="container-fluid mt-4">
    <p>password reset success,return to login</p>

<p><a href="{% url 'userprofile:login' %}">login</a></p>
    </div>






    </div>
{% endblock content %}

